body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.container {
  width: 90%;
  margin-left: 6%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.img1 {
  border-radius: 23px;
  background-color: #fff;
  height: 625px;
  align-items: flex-end;
  width: 600px;
}
.p2 {
  width: 600px;
  margin: 20px;
  color: rgb(1, 34, 77);
  opacity: 0.9;
}

.bluesky {
  margin-left: 20px;
  font-size: 30px;
  color: blue;
}

.img2 {
  border-radius: 20px 20px 0px 0px;
}

.item {
  background-color: black;
  width: 60px;
  opacity: 0.9;
  height: 100vh;
  overflow: hidden;
}

.item2 {
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.item3 {
  height: 20vh;
  display: flex;
  flex-direction: column;
}
.item:hover {
  width: 200px;
}
.header-wp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wp .wp {
  width: 90%;
  height: 35px;
  background-color: rgb(255, 255, 255);
  margin-top: 55px;
  margin-bottom: 100px;
  border-radius: 25px;
  position: relative;
}
.img3 {
  border-radius: 23px;
  background-color: #fff;
  height: 625px;
  align-items: flex-end;
  width: 600px;
}
.img4 {
  border-radius: 20px 20px 0px 0px;
}

.bluespaceship {
  margin-left: 20px;
  font-size: 30px;
  color: blue;
}

.p3 {
  width: 550px;
  margin: 20px;
  color: rgb(1, 34, 77);
  opacity: 0.9;
}

.img5 {
  border-radius: 23px;
  background-color: #fff;
  height: 625px;
  align-items: flex-end;
  width: 600px;
}

.img6 {
  border-radius: 20px 20px 0px 0px;
}

.bluespacecompany {
  margin-left: 20px;
  font-size: 30px;
  color: blue;
}

.p4 {
  width: 550px;
  margin: 20px;
  color: rgb(1, 34, 77);
  opacity: 0.9;
}

i {
  margin-top: 15px;
  margin-left: 12px;
}

.home {
  width: 200px;
  display: flex;
}

.home2 {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.home:hover {
  background-color: blue;
}

.photo {
  width: 200px;
  display: flex;
  margin-top: 15px;
}

.galery {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.photo:hover {
  background-color: blue;
}

.blog {
  width: 200px;
  display: flex;
  margin-top: 15px;
}

.blog2 {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.blog:hover {
  background-color: blue;
}

.messages {
  width: 200px;
  display: flex;
  margin-top: 15px;
}

.messages2 {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.messages:hover {
  background-color: blue;
}

.notification1 {
  width: 200px;
  display: flex;
  margin-top: 15px;
}

.notification2 {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.notification1:hover {
  background-color: blue;
}

.settings1 {
  width: 200px;
  display: flex;
  margin-top: 15px;
}

.settings2 {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.settings1:hover {
  background-color: blue;
}

.logout1 {
  width: 200px;
  display: flex;
  margin-top: 15px;
}

.logout2 {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.logout1:hover {
  background-color: blue;
}
